{% extends "base.html" %}
<html lang="en">
<head>
    {% block title %} <title>{{"Школьная форма. Для Мальчиков"}}</title>{% endblock %}
</head>

<body>
{% block page %}
{{ super() }}
        <div class="fon-karnaval-kategorii">

                <div class="towar-list">
                    <a href=""> <img src="static/img/forma/men/1.jpg"></a>
                    <p1>Пиджак бордовый</p1>
                    <h1>3.800 р.</h1>
                </div>

                <div class="towar-list">
                    <a href=""> <img src="static/img/forma/men/2.jpg"></a>
                    <p1>Пиджак Френч</p1>
                    <h1>3.800 р.</h1>
                </div>

                <div class="towar-list">
                    <a href=""> <img src="static/img/forma/men/3.jpg"> </a>
                    <p1>Пиджак темно-синий </p1>
                    <h1>4.000 р.</h1>
                </div>

                <div class="towar-list">
                    <a href=""> <img src="static/img/forma/men/4.jpg"> </a>
                    <p1>Пиджак зеленый</p1>
                    <h1>3.800 р.</h1>
                </div>

                <div class="towar-list">
                    <a href=""> <img src="static/img/forma/men/5.jpg"> </a>
                    <p1>Пиджак серый</p1>
                    <h1>3.500 р.</h1>
                </div>

                <div class="towar-list">
                    <a href=""> <img src="static/img/forma/men/6.jpg"> </a>
                    <p1>Пиджак для мальчика зеленый </p1>
                    <h1>2.200.р</h1>
                </div>

                <div class="towar-list">
                    <a href=""> <img src="static/img/forma/men/7.jpg"> </a>
                    <p1>Костюм школьный синий</p1>
                    <h1>5.800.р</h1>
                </div>

                 <div class="towar-list">
                    <a href=""> <img src="static/img/forma/men/8.jpg"> </a>
                    <p1>Костюм школьный серый</p1>
                    <h1>6.500.р</h1>
                </div>

        </div>
                    {% include 'menu-main.html' %}

{% endblock %}
</body>
</html>