{% extends "base.html" %}
<html lang="en">
<head>
    {% block title %} <title>{{"Школьная форма. Школьная Форма СССР"}}</title>{% endblock %}
</head>
<body>
{% block page %}
{{ super() }}
<div class="fon-karnaval-kategorii">
    <div class="towar-list">
        <a href=""> <img src="static/img/forma/cccp/1.jpg"></a>
        <p1>Фартук школьный вышивка</p1>
        <h1>1.500 р.</h1>
    </div>
    <div class="towar-list">
        <a href=""> <img src="static/img/forma/cccp/2.jpg"></a>
        <p1>Фартук школьный пышный</p1>
        <h1>1.500 р.</h1>
    </div>
    <div class="towar-list">
        <a href=""> <img src="static/img/forma/cccp/3.jpg"> </a>
        <p1>Платье коричневое длинный рукав</p1>
        <h1>2.000 р.</h1>
    </div>
    <div class="towar-list">
        <a href=""> <img src="static/img/forma/cccp/4.jpg"> </a>
        <p1>Платье СССР</p1>
        <h1>2.500 р.</h1>
    </div>

</div>
{% include 'menu-main.html' %}
{% endblock %}
</body>
</html>