{% extends "base.html" %}
<html lang="en">
<head>
    {% block title %} <title>{{"Школьная форма. Для Девочек"}}</title>{% endblock %}
</head>

<body>
{% block page %}
{{ super() }}
        <div class="fon-karnaval-kategorii">

                <div class="towar-list">
                    <a href=""> <img src="static/img/forma/girl/1.jpg"></a>
                    <p1>Cарафан-Гофре зеленый</p1>
                    <h1>3.000 р.</h1>
                </div>

                <div class="towar-list">
                    <a href=""> <img src="static/img/forma/girl/2.jpg"></a>
                    <p1>Жакет классика п-шерсть </p1>
                    <h1>4.000 р.</h1>
                </div>

                <div class="towar-list">
                    <a href=""> <img src="static/img/forma/girl/3.jpg"> </a>
                    <p1>Жакет на девочку однотонный</p1>
                    <h1>3.500 р.</h1>
                </div>

                <div class="towar-list">
                    <a href=""> <img src="static/img/forma/girl/4.jpg"> </a>
                    <p1>Жакет с отделкой шотландкой</p1>
                    <h1>3.500 р.</h1>
                </div>

                <div class="towar-list">
                    <a href=""> <img src="static/img/forma/girl/5.jpg"> </a>
                    <p1>Жилет серо – розовый п/шерсть</p1>
                    <h1>1.500 р.</h1>
                </div>

                <div class="towar-list">
                    <a href=""> <img src="static/img/forma/girl/6.jpg"> </a>
                    <p1>Жилет для девочки Классика</p1>
                    <h1>1.500.р</h1>
                </div>

                <div class="towar-list">
                    <a href=""> <img src="static/img/forma/girl/7.jpg"> </a>
                    <p1>Костюм с белым кантом</p1>
                    <h1>6.000.р</h1>
                </div>

                 <div class="towar-list">
                    <a href=""> <img src="static/img/forma/girl/8.jpg"> </a>
                    <p1>Пиджак классика cерый</p1>
                    <h1>2.200.р</h1>
                </div>

        </div>

            {% include 'menu-main.html' %}

{% endblock %}

</body>
</html>