            <div class="forma-menu">

                <a href="/Форма для мальчиков"><li>Школьная форма для мальчиков</li></a>
                <a href="/Форма для девочек"><li>Школьная форма для девочек</li></a>
                <a href="/СССP"><li>Школьная Форма СССР</li></a>
                <a href="/Трикотаж"><li>Школьный трикотаж</li></a>
                <a href="/Карнавальные костюмы"><li>Карнавальные костюмы</li></a>
                <a href="/Портфели"><li>Портфели</li></a>
                <a href="/Хор"><li>Хор</li></a>
            </div>
