{% extends "base.html" %}
<html>
<head>
    <meta charset="UTF-8">
    {% block title %} <title>{{"Доставка"}}</title>{% endblock %}

</head>
<body>

{% block page %}
{{ super() }}
<div class="page">

        <div class="O-nas">

            <h1 style = "text-align:center">О нас </h1>
            <p>Школьная форма для первоклассников и школьная форма для старшеклассников.</p>
            <p>Производство  школьной формы с 1 по 5 класс для начальной школы и с 5-го по  11-й класс для средней и старшей школы.<p>
            В ассортименте: пиджаки для  мальчиков и девочек, жилеты, брюки, юбки, сарафаны, юбочные и брючные костюмы на девочек.</p>
            <p>Купить школьную форму в Санкт-Петербурге можно в течении всего учебного года в нашем магазине школьной формы.</p>
            <p>Удобная и красивая школьная форма изготавливается из натуральных тканей, в состав которых входят : 50% шерсти + 50% п/э или 50% вискозы + 50% полиэстера.</p>
            <p>Школьная форма для класса или школы заказывается через нашего представителя, который придет в школу с образцами и примет заказ.</p>
            <p>Каждый год ассортимент пополняется новыми моделями.</p>
            <p><strong>Костюмы Деда Мороза и Снегурочки</strong> для взрослых и детей.</p>

            </div>

        </div>

{% endblock %}
</body>
</html>