{% extends "base.html" %}
<html>
<head>
    {% block title %}<title>{{"Контакты"}}</title>{% endblock %}
</head>

<body>
{% block page %}
{{ super() }}
    <div class="page">
        <!--Описание контактов-->
        <div id="text-contact">
            <div id="text-contactu">

               <h1 align="center"><U>Контакты</U></h1>
                <p1></p1><br>
                <p1>Магазин школьной формы работает по адресу: г. Санкт-Петербург,</p1><br>
                <p1>Ул. 4-ая Советская, дом 18.</p1><br>
                <p1></p1><br>
                <p1>Телефон для Связи:    <p4>   +7 (812) 274-52-92</p4></p1><br>
                <p3>  +7 (905) 227-85-45</p3><br>
                <h2>Время работы: Пн-Вс с 11:00 до 20:00 часов</h2>
                <h2>Без обеда и выходных.</h2>
                <h2><a href="/Отзывы" > Посмотреть и оставить отзыв, можно тут. </a></h2>
                <a class="otvz-img" href="/Отзывы"> <img src="static/img/top-banner-main.png"></a>
            </div>
        </div>

    <div class="map"></div>

        {% endblock %}
    </div>
</body>
</html>