{% extends 'twt/base.html' %}

{% block twt %}

        <div class="tweety">
            <div class="zagolovok"><h1>{{ title }}</h1></div>

                    <form method="post" action="{% url 'addpost' %}"  enctype="multipart/form-data">

                            {% csrf_token %}
                            <div class="main-signin">
                            {% for f in form%}
                            <p class="middle__form">{{f.label}}:{{ f }}</p>
                            {% endfor %}
                            <div class="middle__form">
                                <input type="submit" value="Добавить">
                            </div>
                            </div>
                    </form>
            </div>
        </div>
{% endblock twt %}




